
.red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }

.Cockpit button {
  cursor: pointer;
  padding: 16px;
  border: 1px solid blue;
  font: inherit;
  color: white;
  background-color: green;

  &:hover {
    color: black;
    background-color: lightgreen;
  }
  
  &.Red {
    background-color: red;

    &:hover {
      color: black;
      background-color: blue;
    }
  }
}